target/
dlogs/
logs/
**/data/*.gz
**/data/*.tsv
**/data/*.csv
**/data/*.zip

venv/
.venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

*.duckdb
*.duckdb.wal
